*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;

}
header{
    width: 100% !important;
    height: 90px !important;
    background-color: rgb(71, 255, 215);
}
#logo{
    margin-top: -10px;
    margin-left: 20px;
    width: 10% !important;
}
#logo img{
    width: 60px;
    margin-left: 50px;
    margin-right: 5px;
    text-align: start;
    float: left;
}
#logo h4{
    width: 250px;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 600;
}
#logo a{
   text-decoration: none;
   color: #1a5b94;
}
#logo a:hover{
    color: #0a385f;
}
header ul{
    display: flex;
    justify-content: center;
    text-align: center !important;
    width: 50%;
    margin: auto;
    list-style-type: none;
    margin-top: -80px;
}
.nav-item a{
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: left !important;
    margin-left: 20px !important;
}
.nav-item a:hover{
    color: rgb(0, 0, 202);
}
.active{
    color: rgb(0, 0, 202) !important;
    background-color: #1f548300 !important;
}
.active:hover{
    background-color: #1f548300 !important;
}
.nav-link{
    text-decoration: none;
    margin: 20px;
    background-color: #1f548300 !important;
}
.nav-link:hover{
    background-color: #1f548300 !important;
}
.search{
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: end !important;
    text-align: center !important;
    margin-top: -60px;
    margin-right: 70px;
    width: 20% !important;
    float: right !important;
}
#search-button{
    height: 100% !important;
    background-color: rgb(0, 0, 202);
}

#navMenu{
    border: 0px solid black;
    margin-right: 10px;
    margin-top: 20px;
}
#navMenu:hover{
    background-color: rgba(255, 255, 255, 0);
}
.navbar{
    background-color: rgba(0, 255, 255, 0) !important;
}

.navbar-inverse {
    display: flex;
    flex-direction: row !important;
    border: 0px solid black !important;
    width: 100%;
    height: auto !important;
}
.navbar-collapse{
    background-color: aliceblue;
    width: 100%;
}
#navMenu > span{
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: #155996;
    margin-bottom: 13px;
}

#navMenu > span:not(:last-child) {
    margin-bottom: 7px;
}
#navMenu, #navMenu > span {
    transition: all .4s ease-in-out;
}
#navMenu.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}
#navMenu.active > span:nth-child(2){
    width: 0;
}
#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3) {
    transition-delay: .4s;
}
#navMenu.active > span:nth-child(1) {
    transform: translateY(9px);
}
#navMenu.active>span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}
.carousel-item{
    width: 100% !important;
}
.carousel-inner img{
    width: 100% !important;
    margin: auto;
}
.carousel-control-prev{
    background-color: rgb(0, 224, 176) !important;
    color: white !important;
    height: 50px !important;
    width: 50px !important;
    margin-left: 100px !important;
    border-radius: 50%;
    opacity: 1 !important;
    margin: auto;
}
.carousel-control-next {
    background-color: rgb(0, 224, 176) !important;
    color: white !important;
    height: 50px !important;
    width: 50px !important;
    margin-right: 100px !important;
    border-radius: 50%;
    opacity: 1 !important;
    margin: auto;
}
.carousel-control-next:hover{
    background-color: rgba(0, 177, 138, 0.603) !important;
}
.carousel-control-prev:hover {
    background-color: rgba(0, 177, 138, 0.603) !important;

}
@media (max-width: 767px){
    header{
        height: 80px !important;
    }
    #logo{
        margin-left: -55px;
        padding-top: 10px;
    }
    #logo img{
        width: 50px;
        margin-top: 5px;
        margin-left: 70px;
    }
    #logo h4{
        font-size: 15px;
        margin-top: 7px;
    }
.carousel-control-prev{
    margin-left: 35px !important;
    width: 40px !important;
    height: 40px !important;
}
.carousel-control-next {
    margin-right: 35px !important;
    width: 40px !important;
    height: 40px !important;
}
.first{
    display: none !important;
}
#navMenu {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#navMenu:hover {
    background-color: rgba(255, 255, 255, 0);
}

.navbar {
    background-color: rgba(0, 255, 255, 0) !important;
}
.search{
    width: 35% !important;
    margin-left: 135px !important;
    margin-top: -58px;
}

.navbar-inverse {
    display: flex;
    flex-direction: row !important;
    border: 0px solid black !important;
    width: 100%;
    height: auto !important;
}

.navbar-collapse {
    background-color: aliceblue;
    width: 100%;
}
#second{
    display: none !important;
}
}
@media (min-width: 768px){
header {
        width: 100% !important;
        height: 80px;
        background-color: rgb(71, 255, 215);
    }

    #logo {
        padding-top: 20px;
        margin-left: -30px;
    }

    #logo img {
        width: 50px;
        margin-left: 50px;
        margin-right: 5px;
        text-align: start;
        float: left;
        margin-top: -10px;
    }

    #logo h4 {
        width: 220px;
        margin-top: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: 600;
        margin-top: -5px;
    }

    header ul {
        display: flex;
        justify-content: center;
        text-align: center !important;
        width: 50%;
        margin: auto;
        list-style-type: none;
        margin-top: -80px;
    }
    .nav{
        margin-top: -50px;
        margin-left: 195px;
    }
    .nav-item a{
        font-size: 15px;
        margin: -5px !important;
    }
    .search{
        margin-right: 30px;
        margin-top: -35px;
    }
    #navMenu{
        display: none;
    }
    .navbar{
        margin-top: 100px !important;
    }
    #myNavbar{
        margin-top: 100px !important;
    }
    #first{
        display: none !important;
    }
}
@media (min-width: 850px) {
    .nav-item a {
            font-size: 18px;
        }
}
@media (min-width: 1000px) {
        #logo {
            margin-left: -10px;
            }
        #logo img {
            width: 60px;
            margin-left: 50px;
            margin-right: 5px;
            text-align: start;
            float: left;
            margin-top: -10px;
        }
    
        #logo h4 {
            width: 250px;
            margin-top: 10px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            font-weight: 600;
            margin-top: -5px;
        }
        .nav {
            margin-top: -60px;
            margin-left: 245px;
        }
    
        .nav-item a {
            font-size: 20px;
            margin: -5px !important;
        }
        .search {
            margin-right: 50px;
            margin-top: -35px;
        }
}
@media (min-width: 1250px){

        #logo {
            margin-left: 20px;
            }
    
        #logo h4 {
            width: 250px;
            margin-top: 10px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            font-weight: 600;
            margin-top: -5px;
        }
        .nav {
            margin-top: -70px;
            margin-left: 300px;
        }
    
        .nav-item a {
            font-size: 18px;
            margin: 10px !important;
        }
        .search {
            margin-right: 80px;
            margin-top: -50px;
        }

       .carousel-control-prev{
            margin-left: 65px !important;
            width: 50px !important;
            height: 50px !important;
        }
        .carousel-control-next {
            margin-right: 65px !important;
            width: 50px !important;
            height: 50px !important;
        }
}

